<nav>
  <div>
    <a href="/">home</a> |
    <a href="/about">about</a> |
    <a href="/product">product</a> |
    <a 
      onclick="isAdmin('<%= id %>'); return false;" 
      href="/admin">admin</a>
  </div>
    <a href="/login" class="login">logIn</a>
    <button class="logout" onclick="logout()">logout</button>
</nav>
<script>
  const isLogIn = sessionStorage.getItem('islogin');
  console.log('storage login = ', isLogIn)
  if(isLogIn) {
    document.querySelector('.login').style.display = 'none'
    document.querySelector('.logout').style.display = 'block'
  } else {
    document.querySelector('.logout').style.display = 'none'
    document.querySelector('.login').style.display = 'block'
  }

  function logout() {
    sessionStorage.removeItem('islogin');
    location.href = '/'
  }
</script>

<script>
  // 관리자 확인(id, pwd)
  // 아이디 비밀번호 확인까지 추가해 보세요
  function isAdmin(id) {
    const inputId = prompt('관리자 아이디 입력');
    if(inputId === id) {
      console.log('관리자 맞음');
      location.href = "/admin";

    } else {
      alert('id가 틀립니다')
    }
  } // f()

</script>

