<nav>
  <a href="/">home</a> |
  <a href="/about">about</a> |
  <a href="/product">product</a> |
  <a 
    onclick="isAdmin('<%= admin.id %>'); return false;" 
    href="/admin">admin</a>
</nav>

<script>
  // 관리자 확인(id, pwd)
  function isAdmin(id) {
    const inputId = prompt('관리자 아이디 입력');
    if(inputId === id) {
      console.log('관리자 맞음');
      location.href = "/admin";

    } else {
      alert('id가 틀립니다')
    }
  } // f()

</script>

