<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  로그인 상태: <%= login %> 
  아이디: <%= id  %> 
  
  <!-- nav -->
  <%- include('../components/nav.ejs') %> 
  <h1>쇼핑몰 홈페이지</h1>


  <script>
    // 로그인 상태일때 '로그아웃'만 표시
    // if(sessionStorage.getItem('islogin')) {
    //   console.log('로그인 성공')
    //   sessionStorage.setItem('islogin', true)
    //   document.querySelector('.login').style.display = 'none'
    //   document.querySelector('.logout').style.display = 'block'
    // } else {
    //   document.querySelector('.login').style.display = 'block'
    //   document.querySelector('.logout').style.display = 'none'
    // }
 
  </script>
</body>
</html>